<form class="{{cssClass}} flexcol" autocomplete="off" data-tooltip-class="pf1">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img">

        <div class="flexrow header-details">
            <h1 class="item-name">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PF1.ItemName"}}">
            </h1>

            {{! Content Source }}
            {{~> "systems/pf1/templates/internal/content-source-view.hbs"}}
        </div>
    </header>

    {{!-- Sidebar --}}
    <section class="sidebar">
        <header>
            <h3 class="item-type">{{itemType}}</h3>
        </header>
    </section>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item" data-tab="description">{{ localize "PF1.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "PF1.Details" }}</a>
        <a class="item" data-tab="changes">{{ localize "PF1.Changes" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="primary-body">
        {{!-- Description Tab --}}
        {{> "systems/pf1/templates/items/parts/item-description.hbs"}}


        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            {{!-- Feat Type --}}
            <div class="form-group select">
                <label>{{localize "PF1.Type"}}</label>
                <div class="form-fields">
                    <select name="system.subType" value="{{system.subType}}">
                        {{selectOptions featTypes selected=system.subType localize=true}}
                    </select>
                </div>
            </div>
        </div>

        {{!-- Changes Tab --}}
        <div class="tab changes" data-group="primary" data-tab="changes">
            {{~> "modules/pf1e-caravans/templates/item/parts/changes.hbs"}}
        </div>
    </section>
</form>
