<div class="summary-header">
    <img class="profile" src="{{actor.img}}" data-edit="img">

    <div class="flexcol basic-info">
        <div class="flexrow name-xp">
            <h1 class="char-name">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF1.CharacterName"}}"
                       data-tooltip="PF1.CharacterName">
            </h1>

            <div class="hd-level flexcol">
                <div class="inputs">
                    <div class="info-box-joined level">
                        <div class="info-box level">
                            <h5>{{localize "PF1.Level"}}</h5>
                            <span class="text-box direct" name="system.details.level"
                                  data-dtype="String">{{system.details.level}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flexrow">
            <div class="flexrow buff-conditions">
                {{#each conditions as |condition|}}
                    <div class="condition active">
                     <span>
                         <img src="{{condition.icon}}" width="32" height="32">
                         <div class="details">
                             <span class="name">{{localize condition.label}}</span>
                         </div>
                     </span>
                    </div>
                {{/each}}
            </div>
        </div>

        <div class="flexrow">
            <div class="item flexrow"></div>
            <div class="flexrow item-list misc-header-items">
                {{!-- Rest --}}
                <div class="actor-quick-actions">
                    <button type="button" class="rest"><i class="fas fa-bed"></i> {{localize "PF1.Rest"}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="attributes flexrow">
    <div class="info-box-header health-details" data-tooltip-extended="hit-points">
        <h3>{{localize "PF1.HitPoints"}}</h3>

        <div class="info-box-joined tooltip">
            <div class="info-box current">
                <h5>{{localize "PF1.Current"}}</h5>
                <span class="text-box wheel-change direct allow-relative" data-wheel-step="1"
                      name="system.attributes.hp.value" data-dtype="Number">{{system.attributes.hp.value}}</span>
            </div>
            <div class="info-box maximum">
                <h5>{{localize "PF1.Maximum"}}</h5>
                <span class="value">{{system.attributes.hp.max}}</span>
            </div>
        </div>
    </div>

    <div class="info-box-header unrest-details" data-tooltip-extended="unrest">
        <h3>{{localize "PF1ECaravans.Statistics.Unrest"}}</h3>

        <div class="info-box-joined tooltip">
            <div class="info-box current">
                <h5>{{localize "PF1.Current"}}</h5>
                <span class="text-box wheel-change direct allow-relative" data-wheel-step="1"
                      name="system.attributes.unrest.value"
                      data-dtype="Number">{{system.attributes.unrest.value}}</span>
            </div>
            <div class="info-box maximum">
                <h5>{{localize "PF1ECaravans.Threshold"}}</h5>
                <span class="value">{{system.attributes.unrest.limit}}</span>
            </div>
        </div>
    </div>

    <div class="info-box-header speed-details flexcol">
        <h3>{{localize "PF1ECaravans.Misc"}}</h3>

        <div class="info-box-joined">
            <div class="info-box land" data-tooltip-extended="speed">
                <h5>{{localize "PF1.Movement.Speed"}}</h5>
                <span class="value">{{speedConverted}}</span>
            </div>

            <div class="info-box">
                <h5>{{localize "PF1ECaravans.Condition"}}</h5>
                <span class="value">
                    <select name="system.details.condition" id="caravan-condition">
                        {{selectOptions conditionOptions selected=system.details.condition localize=true}}
                    </select>
                </span>
            </div>

            <div class="info-box">
                <h5>{{localize "PF1ECaravans.MonthlyWages"}}</h5>
                <span class="value">{{localize "PF1.Currency.Inline.gp" value=system.details.wages}}</span>
            </div>
        </div>
    </div>
</div>

<div class="attributes flexrow">
    <div class="info-box-header primaryStatistics-details">
        <h3>{{localize "PF1ECaravans.PrimaryStatistics"}}</h3>

        <div class="info-box-joined tooltip">
            <div class="info-box attribute offense" data-tooltip-extended="offense">
                <h5>{{localize "PF1ECaravans.Statistics.Offense"}}</h5>
                <span class="text-box wheel-change direct allow-relative" name="system.statistics.offense.base"
                      data-dtype="Number">{{system.statistics.offense.total}}</span>
            </div>
            <div class="info-box attribute defense" data-tooltip-extended="defense">
                <h5>{{localize "PF1ECaravans.Statistics.Defense"}}</h5>
                <span class="text-box wheel-change direct allow-relative" name="system.statistics.defense.base"
                      data-dtype="Number">{{system.statistics.defense.total}}</span>
            </div>
            <div class="info-box attribute mobility" data-tooltip-extended="mobility">
                <h5>{{localize "PF1ECaravans.Statistics.Mobility"}}</h5>
                <span class="text-box wheel-change direct allow-relative" name="system.statistics.mobility.base"
                      data-dtype="Number">{{system.statistics.mobility.total}}</span>
            </div>
            <div class="info-box attribute morale" data-tooltip-extended="morale">
                <h5>{{localize "PF1ECaravans.Statistics.Morale"}}</h5>
                <span class="text-box wheel-change direct allow-relative" name="system.statistics.morale.base"
                      data-dtype="Number">{{system.statistics.morale.total}}</span>
            </div>
        </div>
    </div>

    <div class="info-box-header derivedStatistics-details">
        <h3>{{localize "PF1ECaravans.DerivedStatistics"}}</h3>

        <div class="info-box-joined tooltip">
            <div class="info-box attribute attack" data-attribute="attack" data-tooltip-extended="attack">
                <h5><a class="rollable"><span>{{localize "PF1ECaravans.Statistics.Attack"}}</span></a></h5>
                <span class="value">{{numberFormat system.statistics.attack sign=true}}</span>
            </div>
            <div class="info-box attribute armor-class" data-tooltip-extended="armor-class">
                <h5>{{localize "PF1ECaravans.Statistics.ArmorClass"}}</h5>
                <span class="value">{{system.statistics.armorClass}}</span>
            </div>
            <div class="info-box attribute security" data-attribute="security" data-tooltip-extended="security">
                <h5><a class="rollable"><span>{{localize "PF1ECaravans.Statistics.Security"}}</span></a></h5>
                <span class="value">{{numberFormat system.statistics.security sign=true}}</span>
            </div>
            <div class="info-box attribute resolve" data-attribute="resolve" data-tooltip-extended="resolve">
                <h5><a class="rollable"><span>{{localize "PF1ECaravans.Statistics.Resolve"}}</span></a></h5>
                <span class="value">{{numberFormat system.statistics.resolve sign=true}}</span>
            </div>
        </div>
    </div>
</div>

<div class="attributes flexrow">
    <div class="info-box-header primaryStatistics-details" data-tooltip-extended="consumption">
        <h3>{{localize "PF1ECaravans.Statistics.Consumption"}}</h3>

        <div class="info-box-joined tooltip">
            <div class="info-box current">
                <h5>{{localize "PF1ECaravans.Statistics.Consumption"}}</h5>
                <span class="value">{{system.attributes.consumption}}</span>
            </div>
            <div class="info-box current">
                <h5>{{localize "PF1ECaravans.Statistics.Provisions"}}</h5>
                <span class="text-box wheel-change direct allow-relative" name="system.attributes.provisions"
                      data-dtype="Number">{{system.attributes.provisions}}</span>
            </div>
        </div>
    </div>

    <div class="info-box-header primaryStatistics-details" data-tooltip-extended="travelers">
        <h3>{{localize "PF1ECaravans.Travelers"}}</h3>

        <div class="info-box-joined tooltip">
            <div class="info-box current">
                <h5>{{localize "PF1.Current"}}</h5>
                <span class="value">{{travelerCount.owned}}</span>
            </div>
            <div class="info-box current">
                <h5>{{localize "PF1.Maximum"}}</h5>
                <span class="value">{{travelerCount.max}}</span>
            </div>
        </div>
    </div>

    <div class="info-box-header primaryStatistics-details" data-tooltip-extended="wagons">
        <h3>{{localize "PF1ECaravans.Wagons"}}</h3>

        <div class="info-box-joined tooltip">
            <div class="info-box current">
                <h5>{{localize "PF1.Current"}}</h5>
                <span class="value">{{wagonCount.owned}}</span>
            </div>
            <div class="info-box current">
                <h5>{{localize "PF1.Maximum"}}</h5>
                <span class="value">{{wagonCount.max}}</span>
            </div>
        </div>
    </div>

    <div class="info-box-header primaryStatistics-details" data-tooltip-extended="cargo">
        <h3>{{localize "PF1ECaravans.Cargo"}}</h3>

        <div class="info-box-joined tooltip">
            <div class="info-box current">
                <h5>{{localize "PF1.Current"}}</h5>
                <span class="value">{{cargoCount.owned}}</span>
            </div>
            <div class="info-box current">
                <h5>{{localize "PF1.Maximum"}}</h5>
                <span class="value">{{cargoCount.max}}</span>
            </div>
        </div>
    </div>
</div>